<div class="w-100 h-100 d-flex bg-black-pattern">

    <mat-card class="m-auto w-380" style="width: 380px;">
        <mat-card-title class="text-center my-2"> Bem-vindo! </mat-card-title>
        
        <div *ngIf="estaCarregando" class="loading-shade">
            <mat-spinner *ngIf="estaCarregando"></mat-spinner>
        </div>

        <form class="form-field-full" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()" #f="ngForm">

            <div class="row mt-4">
                <mat-form-field appearance="outline" class="px-3" (change)="resetErros()">
                    <mat-label>Nome de Usuário</mat-label>
                    <input matInput formControlName="nomeUsuario" required>
                    <mat-error *ngIf="nomeUsuario.invalid && !loginFalhou">
                        <span *ngIf="nomeUsuario.errors"> Preencha corretamente, por favor. </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row mt-2">
                <mat-form-field appearance="outline" class="px-3" (change)="resetErros()">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" required>
                    <mat-error *ngIf="senha.invalid">
                        <span *ngIf="senha.errors"> {{mensagemErro}} </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row mt-3 px-3">
                <button mat-raised-button color="primary" [disabled]="estaCarregando || !loginForm.valid">Login
                </button>
            </div>

        </form>

    </mat-card>
</div>