<mat-toolbar class="w-100 d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <button mat-icon-button class="me-2" (click)="teste()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../assets/doris_padrao.png" alt="dóris feliz" class="img-doris mx-2">
        <span class="fw-light">
            <span class="fw-bolder">Dóris</span>
            Admin
        </span>
    </div>

    <div>
        <button mat-button (click)="logout()">Sair</button>
    </div>
</mat-toolbar>