::ng-deep .mat-toolbar {
    z-index: 999;
    position: fixed;
}

::ng-deep .mat-sidenav {
    margin-top: 65px !important;
    position: fixed !important;
}

::ng-deep .mat-sidenav-content {
    margin-top: 70px !important;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #3c9e56 !important;
}