<ng-container *ngIf="isLoggedIn else loginRoute">
    <app-header (alternarBarraLateral)="menuLateralAberto = !menuLateralAberto"></app-header>
    <mat-sidenav-container>

        <mat-sidenav #sidenav mode="side" [(opened)]="menuLateralAberto" class="bg-primary text-white sidenav">
            <app-menu-lateral></app-menu-lateral>
        </mat-sidenav>

        <mat-sidenav-content class="px-3" [class.ml-231]="menuLateralAberto" >
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>

<ng-template #loginRoute>
    <router-outlet></router-outlet>
</ng-template>