/* You can add global styles to this file, and also import other style files */
$primary: #235e99;
$secundary: #8598ab;
$sucess: #52d977;
$danger: #a6362e;
$warning: #de9d8c;
$info: #52d9d5;

@import "bootstrap/scss/bootstrap.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

.nav-breadcrumb {
    --bs-breadcrumb-divider: ">";
}

.mat-checkbox-disabled .mat-checkbox-label {
    color: rgba(0,0,0,.87);
}

.loading-shade {
    position: absolute;
    top: 69px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}